<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>others.ConnListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>HMs.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registraion</servlet-name>
        <servlet-class>Registraion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAvailabilty</servlet-name>
        <servlet-class>checkAvailabilty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAvailablity</servlet-name>
        <servlet-class>checkAvailablity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paydone</servlet-name>
        <servlet-class>Paydone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAdmin</servlet-name>
        <servlet-class>CheckAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registraion</servlet-name>
        <url-pattern>/Registraion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAvailabilty</servlet-name>
        <url-pattern>/checkAvailabilty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAvailablity</servlet-name>
        <url-pattern>/checkAvailablity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paydone</servlet-name>
        <url-pattern>/Paydone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAdmin</servlet-name>
        <url-pattern>/CheckAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
